---
import Home from '@/sections/Home.astro';
import Layout from '../layouts/Layout.astro';
import Start from '@/sections/Start.astro';
import Aboutus from '@/sections/Aboutus.astro';
import Aboutus1 from '@/sections/Aboutus1.astro';
import Separator from '@/components/Separator.astro';
import Tequilas from '@/sections/Tequilas.astro';
import Master from '@/sections/Master.astro';
import Footer from '@/components/Footer.astro';
import Buy from '@/sections/Buy.astro';
---

<Layout title="Amatiteña">
  <Start />
  <main class="w-full">
    <Home />
    <Aboutus />
    <Aboutus1 />
    <Separator img="separator.webp" />
    <Tequilas />
    <Master />
    <Separator img="separator1.webp" />
    <Buy />
  </main>
  <Footer />
</Layout>
