---
interface Props {
  img: string;
  className?: string;
}

const { img, className } = Astro.props;
---

<div class={`block ${className}`}>
  <img
    src={`/img/${img}`}
    alt="separator"
    class="w-full h-full object-cover object-center"
  />
</div>
