---
import Agave from '@/components/icons/Agave.astro';
// import Separator from '@/components/Separator.astro';
---

<section class="lg:h-fvh portrait:lg:h-auto lg:grid grid-cols-2">
  <div class="lg:grid grid-rows-[auto_1fr]">
    <div
      class="bg-[#A4C7D6] flex justify-center items-center py-8 md:py-20 lg:px-0 lg:h-[33.6153vw] lg:mt-[2.843vw]"
    >
      <Agave class="size-20 md:size-32 lg:size-[7.81vw] text-white" />
    </div>
    <div
      class="bg-[#FFFCF6] flex justify-center items-center py-6 md:py-16 lg:py-0 lg:h-full lg:pb-[6vw]"
    >
      <img src="/img/nom.svg" alt="nom" class="w-[40%] lg:w-[16.66vw]" />
    </div>
  </div>
  <div
    class="Text bg-[#EEECE2] text-[#5A4C4C] font-baskerville px-6 py-8 md:px-16 md:py-12 lg:pt-[9.89vw] lg:px-[6.55vw] lg:relative z-10 2xl:pt-[9vw] 3xl:pl-[10vw]"
  >
    <p
      class="text-xl md:text-[3vw] lg:text-[2.55vw] text-center lg:text-left tracking-[3px] 2xl:text-[2.6vw] leading-[1.45em]"
    >
      Amatiteña is produced by <br /> N0M 1477. Our brand is <br /> inspired by Amatitán,
      which <br /> means a small village of <br /> Amates, where the cultivation
      <br /> of agave has been practiced <br /> since the 18th century, due to
      <br /> its long-standing tradition in <br /> cultivating blue agave for the
      <br /> production of the spirited <br /> beverage known today as
      <br class="!block" />

      <span class="italic">Tequila.</span>
    </p>
  </div>
</section>

<style></style>
