<section id="where-to-buy" class="py-12 lg:py-[10.583vh] lg:pb-[12vw]">
  <p
    class="font-minion text-xl lg:text-[1.979vw] text-center mb-[6vw] lg:mb-[4.45vw] text-[#5A4C4C] leading-[1.3em] px-7"
    data-aos="zoom-in"
  >
    And last but not least, every single bottle is inspected,<br /> sealed, dressed,
    and marked by hand. This way, we take<br /> special attention to all the details
    to achieve the complete<br /> satisfaction of every one of our clients.
  </p>
  <div class="map w-[76.144vw] mx-auto" data-aos="fade-left">
    <img src="/img/botella.webp" alt="Bottle" />
  </div>
</section>
