<section id="where-to-buy" class="py-12 lg:py-[10.583vh] lg:pb-[12vw]">
  <h2
    class="font-minion text-[6.5vw] lg:text-[4.25vw] text-center mb-[6vw] lg:mb-[4.45vw] text-[#5A4C4C]"
  >
    FIND OUR RETAILERS
  </h2>
  <div class="map w-[76.144vw] mx-auto">
    <div id="storepoint-container" data-map-id="1614231f12fddd"></div><script>
      (function () {
        const a = document.createElement('script');
        a.type = 'text/javascript';
        a.async = !0;
        a.src = 'https://cdn.storepoint.co/api/v1/js/1614231f12fddd.js';
        const b = document.getElementsByTagName('script')[0] as any;
        b.parentNode.insertBefore(a, b);
      })();
    </script>
  </div>
</section>
