<section
  class="lg:grid grid-cols-2 items-start max-lg:mt-12 max-lg:mb-12 Text text-[#5A4C4C]"
>
  <p
    class="bg-[#EEECE2] font-baskerville leading-[1.3em] text-lg lg:text-[2.30vw] lg:leading-[1.3em] px-6 lg:px-[5.68vw] py-8 lg:py-[10.78vw] lg:mt-[5.20vw] max-lg:text-center tracking-[3px]"
    data-aos="fade-right"
  >
    The distillation is made inside<br /> original copper stills and<br /> geometry
    pots, where the liquid<br /> is transformed directly<br /> over low heat, resulting
    in the<br />
    most exquisite aromas, texture<br /> and taste of tequila.
  </p>
  <img
    src="/img/alambique.webp"
    alt="alambique"
    class="block max-lg:max-w-[80%] landscape:max-lg:max-w-[50%] landscape:max-w-[90%] max-lg:mx-auto max-lg:mt-6"
    data-aos="fade-left"
  />
</section>
