<section class="">
  <div class="landscape:grid lg:grid grid-cols-2 gap-x-5 items-end">
    <div
      class="text text-[#5A4C4C] bg-[#EEECE2] font-baskerville text-lg p-7 text-center lg:text-[2w] xl:text-[2.18vw] lg:py-[9.4vw] lg:px-[5.5vw] lg:pb-[6.1vw] lg:leading-[1.7em] lg:text-left tracking-[2px]"
    >
      <p class="" data-aos="fade-right">
        The brand was created by Engineer<br />
        <b>Alberto Partida Hermosillo</b>, a <br /> Master Tequilero from the third
        <br /> generation of the Partida family. He <br />grew up in a town of
        honest and <br /> hardworking people, and decided<br /> that his brand should
        carry the<br /> name of the village where he grew<br /> up: AMATITEÑA. This
        represents a<br /> high value in its process, aiming to<br /> preserve the
        ancestral traditions of<br /> Jalisco, the agave fields, and the<br /> production
        of Tequila.
      </p>
    </div>
    <div
      class="max-w-[375px] landscape:max-w-[80%] landscape:lg:max-w-[39.375vw] landscape:xl:max-w-[39.375vw] mx-auto"
      data-aos="fade-left"
    >
      <img src="/img/alberto.webp" alt="Alberto Partida Hermosillo" class="" />
    </div>
  </div>
  <div class="flex justify-center items-center py-9 lg:py-0 lg:h-[17.96vw]">
    <h2
      class="font-minion text-[#5A4C4C] text-center text-2xl lg:text-[3.43vw]"
    >
      MAESTRO TEQUILERO ALBERTO PARTIDA
    </h2>
  </div>
</section>
