<section class="Master min-h-fvh bg-sky-600">
  <div class="md:grid grid-cols-2">
    <p class="bg-[#EEECE2] p-10">
      The brand was created by Engineer <b>Alberto Partida Hermosillo</b>, a
      Master Tequilero from the third generation of the Partida family. He grew
      up in a town of honest and hardworking people, and decided that his brand
      should carry the name of the village where he grew up: AMATITEÑA. This
      represents a high value in its process, aiming to preserve the ancestral
      traditions of Jalisco, the agave fields, and the production of Tequila.
    </p>
    <div class="">
      <img src="/img/alberto.webp" alt="Alberto Partida Hermosillo" />
    </div>
  </div>
  <h2>MAESTRO TEQUILERO ALBERTO PARTIDA</h2>
</section>
