<!-- <section
  class="Master overflow-hidden h-fvh bg-sky-600 lg:grid grid-rows-[1fr_100px]"
>
  <div class="md:grid grid-cols-2">
    <p class="bg-[#EEECE2] p-10 text-center lg:text-left" data-aos="fade-right">
      The brand was created by Engineer <b>Alberto Partida Hermosillo</b>, a
      Master Tequilero from the third generation of the Partida family. He grew
      up in a town of honest and hardworking people, and decided that his brand
      should carry the name of the village where he grew up: AMATITEÑA. This
      represents a high value in its process, aiming to preserve the ancestral
      traditions of Jalisco, the agave fields, and the production of Tequila.
    </p>
    <div class="" data-aos="fade-left">
      <img
        src="/img/alberto.webp"
        alt="Alberto Partida Hermosillo"
        class="w-auto h-80"
      />
    </div>
  </div>
  <h2
    class="text-center text-2xl lg:text-[3.4375vw] h-[100px] lg:h-full bg-lime-200"
  >
    MAESTRO TEQUILERO ALBERTO PARTIDA
  </h2>
</section> -->
<section class="lg:grid">
  <div class="lg:grid grid-cols-2">
    <div
      class="text text-[#5A4C4C] bg-[#EEECE2] font-baskerville text-xl lg:text-[2.45vw] leading-[1.5em] py-8 px-12 lg:pt-[8.698vw] lg:pl-[5.781vw] lg:pr-[4.32vw] lg:pb-[7.14vw]"
    >
      <p class="text-center lg:text-left h-full" data-aos="fade-right">
        The brand was created by Engineer<br />
        <b>Alberto Partida Hermosillo</b>, a <br /> Master Tequilero from the third
        <br /> generation of the Partida family. He <br />grew up in a town of
        honest and <br /> hardworking people, and decided<br /> that his brand should
        carry the<br /> name of the village where he grew<br /> up: AMATITEÑA. This
        represents a<br /> high value in its process, aiming to<br /> preserve the
        ancestral traditions of<br /> Jalisco, the agave fields, and the<br /> production
        of Tequila.
      </p>
    </div>
    <div
      class="flex justify-center items-end py-10 lg:pt-0 lg:pb-[7.18vw]"
      data-aos="fade-left"
    >
      <img
        src="/img/alberto.webp"
        alt="Alberto Partida Hermosillo"
        class="w-[75%] h-auto lg:w-auto lg:h-[50vw]"
      />
    </div>
  </div>
  <div class="flex justify-center items-center py-9 lg:py-0 lg:h-[17.96vw]">
    <h2
      class="font-minion text-[#5A4C4C] text-center text-2xl lg:text-[3.43vw]"
    >
      MAESTRO TEQUILERO ALBERTO PARTIDA
    </h2>
  </div>
</section>
