<section
  class="mt-8 lg:mt-[5.98vw] px-5 lg:px-[6.97vw] text-lg lg:text-[2.23vw] leading-[1.2] text-center font-baskerville pb-10 lg:pb-[6.97vw]"
>
  <p class="mb-8 lg:mb-[7.30vw]" data-aos="zoom-in">
    With stone ovens and the heat of direct mesquite wood fire, our<br /> agaves
    are cooked to preserve their soft and sweet flavors.
  </p>
  <div
    class="lg:grid landscape:grid grid-cols-2 gap-x-[3.38vw] mb-10 lg:mb-[11.71vw] lg:px-[2.60vw]"
  >
    <img
      src="/img/horno.webp"
      alt="horno"
      class="block max-lg:mb-6"
      data-aos="fade-right"
    />
    <img
      src="/img/molino.webp"
      alt="molino"
      class="block"
      data-aos="fade-left"
    />
  </div>
  <p data-aos="zoom-in" class="text-lg lg:text-[1.97vw] leading-[1.3em]">
    We choose to extract the juices like our ancestors did, with the traditional
    Tahona. It’s a very heavy and large volcanic stone, implemented to crush the
    roasted hearts of the agaves and that has been modernized to move with a
    mechanical arm.
  </p>
</section>
<style>
  br {
    display: none !important;
  }
</style>
