---
import Scroll from '@components/Scroll.astro';
---

<section
  class="Home relative bg-bgGris w-full h-[100dvh] flex flex-col justify-center items-center text-white text-center font-baskerville px-3"
  id="Start"
>
  <h1
    class="text-center text-2xl md:text-[3.59375vw] tracking-[2px] md:racking-[5px] md:leading-[4.27vw] mb-8 md:mb-[4.21vw]"
    data-aos="fade-down"
    data-aos-delay="150"
    data-aos-offset="0"
  >
    SELECTION, QUALITY <br />& EXCLUSIVITY
  </h1>
  <span data-aos="zoom-in" data-aos-delay="200" data-aos-offset="0"
    >are the</span
  >
  <span data-aos="zoom-in" data-aos-delay="300" data-aos-offset="0">Key to</span
  >
  <h2 data-aos="zoom-in" data-aos-delay="400" data-aos-offset="0">Amatiteña</h2>
  <Scroll
    id="next"
    href="#Home"
    className="bottom-8 landscape:max-lg:bottom-5 lg:bottom-16"
  />
</section>
<style lang="scss">
  .Home {
    span,
    h2 {
      @apply text-xl md:text-[1.789vw] leading-[1em] tracking-[2px] md:tracking-[3px];
    }
    span {
      @apply mb-4 md:mb-[1.56vw];
    }
    h2 {
      @apply uppercase;
    }
  }
  .Shidden {
    display: none;
  }
</style>
<script>
  const section = document.getElementById('Start') as HTMLElement;
  const prev = section?.querySelector('.prev') as HTMLAnchorElement;
  const next = section?.querySelector('.next') as HTMLAnchorElement;
  section.addEventListener('wheel', (e) => {
    if (e.deltaY < 0) {
      prev?.click();
    } else {
      next?.click();
    }
  });
  // const viewportHeight = window.innerHeight;
  // window.addEventListener('scroll', () => {
  //   let scrollT = window.scrollY;
  //   console.log(viewportHeight, scrollT);
  //   if (scrollT >= viewportHeight) {
  //     document.getElementById('Start')?.classList.add('Shidden');
  //   }
  // });
</script>
