---
import Agave from '@/components/icons/Agave.astro';
// import Separator from '@/components/Separator.astro';
---

<section
  class="lg:h-fvh portrait:lg:h-auto lg:grid landscape:grid grid-cols-2 3xl:h-auto"
>
  <div
    class="lg:flex justify-center items-start lg:pt-[5.62vw] landscape:pt-[5.62vw]"
  >
    <img src="/img/jimador.webp" alt="Jimador" class="lg:w-[31.71vw] h-auto" />
  </div>
  <div
    class="Text bg-[#EEECE2] text-[#5A4C4C] font-baskerville px-6 py-8 md:px-16 md:py-12 lg:pt-[9.89vw] lg:px-[6.55vw] lg:relative z-10 2xl:pt-[9vw] 3xl:pl-[7vw] 3xl:pr-[0] 3xl:pt-[5vw] min-[1300px]:max-[1400px]:px-[10vw] min-[1300px]:max-[1400px]:pr-0 min-[1300px]:max-[1400px]:pt-[6vw] lg:!pb-[10vw]"
  >
    <p
      class="md:text-[3vw] lg:text-[2.55vw] text-center lg:text-left tracking-[3px] 2xl:text-[2.6vw] 3xl:text-[2.5vw] leading-[1.6em] min-[1300px]:max-[1400px]:text-[2vw] max-md:pz-1 lg:pr-12 landscape:max-lg:text-[1.1rem]"
      data-aos="zoom-in"
    >
      From the wee hours of the<br /> morning, our Jimadores go out<br /> to the
      fields, carrying their<br /> Coa’s, an ancient and very sharp<br /> tool that
      it’s used to chop off the<br /> agave leaves. At first sight, it<br /> might
      look simple to do this<br />
      process, but it requires hours<br /> and hours of practice, technique<br
      /> and endurance.
    </p>
  </div>
</section>

<style>
  br {
    /* display: none !important; */
  }
</style>
